{% extends "includes/tease.twig" %}
{% block content %}
	<h2 class="h2"><a href="{{ post.link }}">{{ post.title }}</a></h2>
	{% include "includes/byline.twig" %}

	<div class="excerpt">
		{{ post.get_preview(50, false, 'Read&nbsp;More&nbsp;&rarr;', false)|apply_filters('the_content') }}
	</div>

{% endblock %}