// text and typography

//::-moz-selection { background: @brand-success; }
//::selection      { background: @brand-success; } 

.navbar .navbar-brand {
	color: @gray-darker;
	font-weight: bold;
}

article {

	.clearfix();

	&:firstchild {
		border-top: none;
	}

	.byline,
	.metadata {
		border-top: 1px solid @gray-lighter;
		border-bottom: 1px solid @gray-lighter;
		padding-top: @line-height-computed / 2;
		padding-bottom: @line-height-computed / 2;
		margin-bottom: @line-height-computed / 2;
	}

	.social {
		.clearfix();
		border-top: 1px solid @gray-light;
		border-bottom: 1px solid @gray-light;
		margin-bottom: @line-height-computed / 2;
		margin-top: @line-height-computed;
		padding-bottom: @line-height-computed / 2;
		padding-top: @line-height-computed / 2;
	}

	.read-more {
		font-weight: bold;
	}
}

.post-topic {
	background-color: @gray-lighter;
	border-radius: 5px;
	padding: 0 .5em;
}

.social, .sharing {
	iframe { vertical-align: middle; }
	span { display: inline-block; width: 110px; }
}

.panel {
	font-size: (@font-size-base * .9);
}

.panel-title {
	color: @gray-lighter;
}
