// text and typography

//::-moz-selection { background: @brand-success; }
//::selection      { background: @brand-success; } 

.navbar .navbar-brand {
	color: @gray-darker;
	font-weight: bold;
}

article {

	.clearfix();
	border-top: 1px solid darken(@gray-lighter, 10%);

	&:firstchild {
		border-top: none;
	}

	.byline {
		border-top: 1px solid @gray-lighter;
		border-bottom: 1px solid @gray-lighter;
		padding-top: @line-height-computed / 2;
		padding-bottom: @line-height-computed / 2;
	}

	.social {
		.clearfix();
		border-top: 1px solid @gray-light;
		border-bottom: 1px solid @gray-light;
		margin-bottom: @line-height-computed / 2;
		margin-top: @line-height-computed;
		padding-bottom: @line-height-computed / 2;
		padding-top: @line-height-computed / 2;

		.fb-like,
		.twitter-tweet-button {
			vertical-align: middle;
		}
	}

	.read-more {
		font-weight: bold;
	}
}

.panel-title {
	color: @gray-lighter;
}
