{% extends "widgets/widget.twig" %}

{% block widget_body %}
{% for post in posts %}
<div class="post-lead clearfix">
	<h5>
		<a href="{{ post.link }}">{{ post.title }}</a>
	</h5>
	{{ post.get_preview(30)|wpautop }}
</div>

{% endfor %}
{% endblock %}