{% extends "widgets/widget.twig" %}

{% block widget_body %}
	<ul class="recent-posts list-unstyled">
		{% for post in posts %}
		<li class="recent-post">
			<h5><a href="{{ post.url }}">{{ post.title }}</a></h5>
		</li>
		{% endfor %}
	</ul>
{% endblock %}