<div class="row">
	<div class="col-md-12">
		<div class="well well-sm explainer">
			<p>
				<strong>What makes a good school? </strong>
				<a href="http://agoodschoolis.tumblr.com/">See more, and tell your story about what you want in a school here.</a>
			</p>
			<div id="agoodschoolis"></div>
		</div>
	</div>
</div>