<div class="row">
	<div class="explainer col-md-12">
	</div>
	<div id="agoodschoolis"></div>
	<div class="col-md-12 caption">
		<p class="well well-sm">
			<strong>What makes a good school? </strong>
			<a href="http://agoodschoolis.tumblr.com/">See more, and tell your story about what you want in a school here.</a>
		</p>			
	</div>
</div>