<div class="container" id="footer-content">
	<div class="row">
		
		<div class="col-md-3" id="footer-left" role="complimentary">
			{# todo footer menu #}
			{{ sidebars['footer-1'] }}
		</div>

		<div class="col-md-6" id="footer-mid" role="complimentary">
			{# featured posts here? #}
			{{ sidebars['footer-2'] }}
		</div>
		
		<div class="col-md-3" id="footer-right" role="complimentary">
			{# search and monthly archives #}

			{{ sidebars['footer-3'] }}

		</div>

	</div> <!-- /.row -->

	<div class="row">
		<div class="col-md-12">

			<p id="footer-legal">{{ function('largo_copyright_message') }}</p>

			<p class="footer-credit">Built with <a href="http://largoproject.org">Project Largo</a> from the <a href="http://investigativenewsnetwork.org">Investigative News Network</a>.</p>

			<p class="back-to-top"><a href="#top">Back to top &uarr;</a></p>
		</div>
	</div>
</div> <!-- /.container -->