<div class="container" id="footer-content">
	<div class="row">
		
		<div class="col-md-3" id="footer-left" role="complimentary">
			<h4>{{ site.title }}</h4>
			{# todo footer menu #}
		</div>

		<div class="col-md-6" id="footer-mid" role="complimentary">
			{# featured posts here? #}
		</div>
		
		<div class="col-md-3" id="footer-right" role="complimentary">
			{# search and monthly archives #}

			{{ sidebars['footer-3'] }}

		</div>

	</div> <!-- /.row -->

	<div class="row" id="footer-legal">
		<div class="col-md-12">
			<p>{{ function('largo_copyright_message') }}</p>

			<p class="footer-credit">This site built with <a href="http://largoproject.org">Project Largo</a> from the <a href="http://investigativenewsnetwork.org">Investigative News Network</a> and proudly powered by <a href="http://wordpress.org" rel="nofollow">WordPress</a>.</p>

			<p class="back-to-top"><a href="#top">Back to top ↑</a></p>
		</div>
	</div>
</div> <!-- /.container -->