{{ before_widget|raw }}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{ instance.title }}</h3>
    </div>
    <div class="panel-body">
        {% block widget_body %}{% endblock %}
    </div>
</div>

{{ after_widget|raw }}